@use 'reset';
@use 'vars';
@use 'index';


.datepicker {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    width: 20%;
    border: 1px solid black;
    height: fit-content;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
        padding: 1rem 0;
        button {
            background-color: transparent;
            border: none;
        }
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        &-header {
            display: flex;
            padding: 1rem 0;
            div {
                width: calc(100% / 7);
                text-align: center;
            }
        }
        &-item {
            display: flex;
            width: calc(100% / 7);
            justify-content: center;
            height: calc(40vh / 7);
            align-items: center;
            background-color: transparent;
            border: none;
            &.out {
                color: rgba(0, 0, 0, 0.315);
            }

        }
       
    }
}
 